/* The * selector selects all html elements (universal selector) and applies styles to them */
* {
    margin: 0;
    padding: 0;
    /*This instructs the browser to ignore padding in the overall width*/
    box-sizing: border-box;
}

body {
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    padding: 20px 35px;
    background-color: #39a6b2;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    /* the code below, prevents the content from taking 100% of the line. It only takes up the space needed to display the content*/
    display: inline;
}

header a {
    /*setting this declaration to none, clears the element's default styles*/
    text-decoration: none;
    color: #fce138;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
}

footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: #024e76;
}

section {
    padding: 60px;
}

.hero {
    background-image: url("../images/hero-bg.jpg");
    height: 600px;
    /*This shrinks the image so that parts of it won't get clipped*/
    background-size: cover;
    /*This sets the initial position of the image*/
    background-position: center;
    position: relative;
}

.hero-form {
    color: #024e76;
    width: 500px;
    padding: 20px;
    background-color: #fce138;
    border: 3px solid #024e76;
    position: absolute;
    bottom: 120px;
    right: 140px;
}

.hero-form h3 {
    font-size: 24px;
    margin: 0;
}

.hero-form p {
    margin: 5px 0 15px 0;
}

.form-input {
    font-size: 16px;
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    color: #024e76;
    width: 100%;
    margin bottom: 15 px;
}

/*This helps the user not misinterpret which selection is for which answer*/
.hero-form label {
    margin: 0 5px;
}

.hero-form button {
    padding: 10px 20px;
    background-color: #024e76;
    color:#fce138;
    border: none;
    font-size: 16px;
}